header
{
    background:#333 ;                         /*met de la couleur de l'arrière plan, de font*/
    color:#fff;                               /*met le text en blanc*/
    font-family:Arial, Helvetica, sans-serif ;  /*change la police d'écriture*/
    height: auto;                               /*pour que la taille du header prend 25% de la hauteur de l'écran*/
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    cursor: default;
}

header .logo img
{
    height: 100%;
    width: 100%;
    transition: 0.5s ease-in;
    filter: grayscale(100%);
}

header .logo img:hover
{
    height: 100%;
    width: 100%;
    filter: grayscale(0%);
}

header .logo
{
    width: 8%;
    height: 100%;
}

header .logo_h1
{
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70%;
}

header .logo_h1 h1
{
    text-align: center;
}

header nav ul
{
    gap: 5%;              /* Espacement entre les liens */
    display: flex;
    color:#fff;             /*met le text en blanc*/
    padding: 10px;          /*permet de mettre un espace entre les bouton a l'interieur du header*/
    border-width: 3px;      /*pour que l'épaisseur des bordure des lien soit de 3px*/
    border-radius: 50px;    /*permet d'arrondire les bord*/
    height: 25%;
    width: 100%;
    justify-content:center;
    align-items:center;
    list-style-type: none;
}

header nav ul li a
{
    display: flex;
    justify-content: inline;
    align-items: center;
    border-color: #0ff;
    border-radius: 20px;
    border: solid;
    background-color: #333;
    color: #0ff ;
    text-align: right;
    text-decoration: none;    /*pour que les lien ne soit pas souligné*/
    gap: 20px;              /* Espacement entre les liens */
    display: flex;
    padding: 10px;          /*permet de mettre un espace entre les bouton a l'interieur du header*/
    border-width: 3px;      /*pour que l'épaisseur des bordure des lien soit de 3px*/
    border-radius: 50px;    /*permet d'arrondire les bord*/
    height: 25%;
    width: 100%;
    justify-content:center;
    align-items:center;
    list-style-type: none;
    transition: transform 0.5s;
    transition:  background-color 0.5s ease, transform 0.5s ease;
    cursor: pointer;
}

header nav ul li a:hover
{
    background-color: #F0F;
    transform: scale(1.05);
}

@media screen and (max-width:640px){
    header {
        height: 100%;
        width: 10%;
    }
}

header nav ul li
{
    max-width: 30%;
    width: 25%;
    height: 50%;
}

header h1
{
    text-align: center;
}

/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/

body
{
    background-color: #444;   /*met de la couleur de l'arrière plan, de font*/
    color: #fff;              /*met le text en blanc*/
    position: relative;         /*permet de garder body entre le header et le footer*/
    margin: 0;                  /*permet qu'il n'y ai pas bordure au site*/
    display: table;             /*met le footer en bas de page et qu'il fasse tout la largeur de l'écran*/
    width: 100%;                /*fait que body prend 100% de la largeur de l'écran*/
    height: 100%;               /*fait que body prend 100% de la hauteur de l'écran*/
    cursor: default;
    min-height: 150vh;
}

p{
    font-size:20px;
    cursor: default;
}

/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/

footer
{
    text-align: center ;              /*aligne le text au centre*/
    background-color: #333;         /*met de la couleur de l'arrière plan, de font*/
    color :#000;                    /*met le text en noir*/
    height:10%;           /*fait que le footer prend 20% de la hauteur de l'écran*/
    display: table-row;
}


@media screen and (max-width:640px){
    footer {
        height: auto;
    }
}

/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/

 body .jeu
{
    width: 100%;            /*fait que body prend 100% de la largeur de l'écran*/
    display: grid;
    height: auto;
}

.jeu .star i
{
    color: #fff;
}

.jeu .star i:hover
{
    color: #ff0;
}

.jeu1
{
    grid-column:1;
    grid-row:1;
    background-image: url("") ; /*met une image à l'arrière plan, de font*/
    display: inline;            /*aligne les élément horizontalement*/
    width: 100%;                /*fait que body prend 100% de la largeur de l'écran*/
    text-align: left;
    border: solid;
    border-radius: 5px;
    border-color: #0ff;
    height: 100%;
}

.jeu .jeu1 img
{
    width: 99.5%;     /*redimensionner l'image à 8% de l'écran*/
    margin:0px 5px 0px 0px;
}

.jeu2
{
    grid-column:2;
    grid-row:1;
    background-image: url("") ;     /*met une image à l'arrière plan, de font*/
    display: inline;                /*aligne les élément horizontalement*/
    text-align:left ;              /*aligne le text a droite*/
    width: 100%;                       /*fait que body prend 100% de la largeur de l'écran*/
    border: solid;
    border-radius: 5px;
    border-color: #0ff;
    height: 100%;
   
}

.jeu2 img
{
    width: 99.5%;     /*redimensionner l'image à 8% de l'écran*/
    margin:0px 5px 0px 3px;
}

.jeu3
{
    grid-column:3;
    grid-row:1;
    background-image: url("") ;     /*met une image à l'arrière plan, de font*/
    display: inline;                /*aligne les élément horizontalement*/
    text-align: left;
    border: solid;
    border-radius: 5px;
    border-color: #0ff;
    height: 100%;
}

.jeu3 img
{
    width: 99.5%;     /*redimensionner l'image à 8% de l'écran*/
    margin:0px 0px 0px 3px;
}

/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/

.jeu .jeu1 .boutton_jeu button
{
    border: solid;
    border-radius: 3px;
    border-color: #0ff;
    color:#fff;
    background-color: #00afaf;
    width: 50%;
    transition:  background-color 0.5s ease, transform 0.5s ease;
    cursor: pointer;
}

.jeu .jeu1 .boutton_jeu button:hover
{
    border: solid;
    border-radius: 3px;
    border-color: #F0F;
    color:#000;
    background-color: #AF00AF;
    width: 50%;
    cursor: pointer;
}

.jeu .jeu2 .boutton_jeu button
{
    border: solid;
    border-radius: 3px;
    border-color: #0ff;
    color:#fff;
    background-color: #00afaf;
    width: 50%;
    transition:  background-color 0.5s ease, transform 0.5s ease;
}

.jeu .jeu2 .boutton_jeu button:hover
{
    border: solid;
    border-radius: 3px;
    border-color: #FF00FF;
    color:#000;
    background-color: #AF00AF;
    width: 50%;
    cursor: pointer;
}

.jeu .jeu3 .boutton_jeu button
{
    border: solid;
    border-radius: 3px;
    border-color: #0ff;
    color:#fff;
    background-color: #00afaf;
    width: 50%;
    transition:  background-color 0.5s ease, transform 0.5s ease;
    cursor: pointer;
}

.jeu .jeu3 .boutton_jeu button:hover
{
    border: solid;
    border-radius: 3px;
    border-color: #F0F;
    color:#000;
    background-color: #AF00AF;
    width: 50%;
    cursor: pointer;
}

/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/

.jeu table 
{
    width: 100%;
}

table tr td
{
    border: solid #0ff 2px;
    cursor: help;
    background-size: 200%;
    background-image: linear-gradient(to right,  #0ff 0%, #af00af 50%,#ffffff00 50%,#ffffff00 100%);
    transition:background-position-x .3s ease;
    background-position-x: 100%;
}

table tr td:hover
{
    background-position-x: 0%;
    color: #000;
}

/*|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/
/*|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||*/

table loca
{
    width: 50%;
    height: 50%
    position : center;
}
